@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.btn-save {
  background-color: #b48967;
  border-style: none;
  border-width: 0.5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.7);
  color: white;
  cursor: pointer;
  margin-top: 5%;
  padding: 4%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-save > span {
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  padding: 3% 7%;
  padding-top: 4.8%;
}

.btn-save > .material-icons {
  font-size: 1.5em;;
}

.btn-save:hover {
  background-color: #885c3b;
}
